div.notifications{
    float:right;
    color: red;
}
span.newRow{
    color: green;
}
a#active{
    color: #3490dc;
}
span.danger{
    color: red;
}
.yellow{
    color: yellow;
}
li.active{
	border: 1px solid rgba(0,0,0,.5);
	border-bottom: none; 
}
